<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Views Predictor</title>
    <link href="https://fonts.googleapis.com/css2?family=Pixelated+MS+Sans+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>YouTube Views Predictor</h1>
        
        <form method="POST" action="/predict">
            <div class="form-box">
                {% for feature in features %}
                <div class="form-group">
                    <label for="{{ feature }}">{{ feature }}:</label>
                    <input type="number" step="any" name="{{ feature }}" id="{{ feature }}" required>
                </div>
                {% endfor %}
                <button type="submit">Predict</button>
            </div>
        </form>
    </div>
</body>
</html>